---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/2014/races/human
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1744922213'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ceb-aXlzjvToWVVR+LSxEGnowy2hwoU"
    body:
      encoding: UTF-8
      string: '{"index":"human","name":"Human","speed":30,"ability_bonuses":[{"ability_score":{"index":"str","name":"STR","url":"/api/2014/ability-scores/str"},"bonus":1},{"ability_score":{"index":"dex","name":"DEX","url":"/api/2014/ability-scores/dex"},"bonus":1},{"ability_score":{"index":"con","name":"CON","url":"/api/2014/ability-scores/con"},"bonus":1},{"ability_score":{"index":"int","name":"INT","url":"/api/2014/ability-scores/int"},"bonus":1},{"ability_score":{"index":"wis","name":"WIS","url":"/api/2014/ability-scores/wis"},"bonus":1},{"ability_score":{"index":"cha","name":"CHA","url":"/api/2014/ability-scores/cha"},"bonus":1}],"age":"Humans
        reach adulthood in their late teens and live less than a century.","alignment":"Humans
        tend toward no particular alignment. The best and the worst are found among
        them.","size":"Medium","size_description":"Humans vary widely in height and
        build, from barely 5 feet to well over 6 feet tall. Regardless of your position
        in that range, your size is Medium.","starting_proficiencies":[],"languages":[{"index":"common","name":"Common","url":"/api/2014/languages/common"}],"language_options":{"choose":1,"type":"languages","from":{"option_set_type":"options_array","options":[{"option_type":"reference","item":{"index":"dwarvish","name":"Dwarvish","url":"/api/2014/languages/dwarvish"}},{"option_type":"reference","item":{"index":"elvish","name":"Elvish","url":"/api/2014/languages/elvish"}},{"option_type":"reference","item":{"index":"giant","name":"Giant","url":"/api/2014/languages/giant"}},{"option_type":"reference","item":{"index":"gnomish","name":"Gnomish","url":"/api/2014/languages/gnomish"}},{"option_type":"reference","item":{"index":"goblin","name":"Goblin","url":"/api/2014/languages/goblin"}},{"o[...]
